{% extends "base.html" %}

{% block title %}Łukasz Herok - SSZZ{% endblock %}

{% block content %}
    <div class="jumbotron bg-transparent mb-0 radius-0">
        <div class="container">
            <div class="row">
                <div class="">
                    <h1 class="display-2">Łukasz Hero<span class="vim-caret">k</span></h1>
                    <div class="lead mb-3 text-mono text-success">Software arch & dev. Team leader. ERP analyst.
                        <br>Ph.D. in Physics, MSc. Eng. in Computer Science.
                    </div>


                    {#                <div class="text-darkgrey text-mono my-2">Some muted text</div>#}


                    <p class="mt-5 text-spacey">
                        Hi, I'm Łukasz. My profession is designing and developing business software and supporting
                        the team during the development and implementation process.
                        My passion is software engineering and physics and combining these two fields in exploring the
                        world of quantum computing. Welcome to my place and please take a look around.
                    </p>

                    <div class="text-center mb-4 p-5">
                        <a href="https://www.linkedin.com/in/lukaszherok/">
                            <span class="fa fa-linkedin fa-2x ml-4"></span></a>
                        <a href="https://github.com/lukasszz">
                            <span class="fa fa-github fa-2x ml-4"></span></a>
                        <a href="https://bitbucket.org/lukaszherok/">
                            <span class="fa fa-bitbucket fa-2x ml-4"></span></a>
                        <a href="https://www.instagram.com/lukasz.herok/"><span
                                class="fa fa-instagram fa-2x ml-4"></span></a>
                        <a href="https://twitter.com/lukasszz1">
                            <span class="fa fa-twitter fa-2x ml-4"></span></a>
                        <a href="https://www.researchgate.net/profile/Lukasz_Herok">
                            <span class="fa fa-flask fa-2x ml-4"></span></a>
                        <a href="mailto: lukasz@lukaszherok.com">
                            <span class="fa fa-envelope fa-2x ml-4"></span></a>
                        <a href="tel: +48 697 762 400">
                            <span class="fa fa-phone fa-2x ml-4"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}