{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <h1>Posts</h1>

    {% if not current_user.is_anonymous %}
    <a style="color: #a0a0a0" class="nav-link" href="{{ url_for('post.post_new') }}"
       class="btn  ">
        <span class="fa fa-lg fa-pencil"></span>
    </a>
    {% endif %}

    <div class="py-5">
        <ul>
            {% for post in posts.items %}
            <li style="display: flex;">
                <span style='min-width: 100px;'>{{ moment(post.timestamp).format("DD MMM YY") }}</span>
                <span><a href="{{ url_for('post.view', id=post.id, title=post.title) }}">{{ post.title }}</a>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="row text-center ">
        <div class="col-sm">

            <nav aria-label="...">
                <ul class="pagination mb-4 p-5 mx-auto">


                    {% if posts.has_prev %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('post.post_list', page=posts.prev_num) }}">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                    {% endif %}


                    <li class="page-item active">
                        <span class="page-link">  {{ posts.page }} of {{ total_pages }} <span
                                class="sr-only">(current)</span></span>
                    </li>


                    {% if posts.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ url_for('post.post_list', page=posts.next_num) }}">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Next</span>
                    </li>
                    {% endif %}

                </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock %}