{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <h1>Posts</h1>

    {% if not current_user.is_anonymous %}
    <a style="color: #a0a0a0" class="nav-link" href="{{ url_for('post.post_new') }}"
       class="btn  ">
        <span class="fa fa-lg fa-pencil"></span>
    </a>
    {% endif %}

    <div class="row mt-5">
        {% for post in posts.items %}

        <div style="" class="col m-2 container lh-col-card border-success">
                <h2 style="">{{ post.title }}</h2>
                <span class="font-italic" style="text-align: right">{{ moment(post.timestamp).fromNow() }}
                    {% if not current_user.is_anonymous %}
                    <a href="{{ url_for('post.post_ed', id=post.id) }}">.</a>
                    {% endif %}
                </span>
            <p style="min-width: 150px;">{{ post.body | markdown }}</p>
        </div>

        {% endfor %}
    </div>

    <div class="row text-center ">
        <div class="col-sm">

            <nav aria-label="...">
                <ul class="pagination mb-4 p-5 mx-auto">


                    {% if posts.has_prev %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('post.post_list', page=posts.prev_num) }}">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                    {% endif %}


                    <li class="page-item active">
                        <span class="page-link">  {{ posts.page }} of {{ total_pages }} <span
                                class="sr-only">(current)</span></span>
                    </li>


                    {% if posts.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ url_for('post.post_list', page=posts.next_num) }}">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Next</span>
                    </li>
                    {% endif %}

                </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock %}