[Unit]
Description=uWSGI lhcom4
After=network.target

[Service]
ExecStart=/usr/bin/bash -c 'cd /home/lukasz/lhcom4; venv/bin/uwsgi --ini uwsgi.ini'
# Requires systemd version 211 or newer
Restart=always

[Install]
WantedBy=multi-user.target
