{% extends "base.html" %}

{% block content %}

<div class="container py-5">
    <h1 class="mb-5">Articles</h1>


    <div>
        <h2> Wprowadzenie do budowy heterogenicznego komputera kwantowo - klasycznego </h2>

        <span class="badge badge-primary">Quantum</span>
        <span class="badge badge-info">Polish</span>
        <p style="font-style: italic;">
            Artykuł ten dostarcza podstawowych informacji o komputerach kwantowych. Omawiane są podstawy fizyczne na
            który komputer kwantowy działa. Wskazywane są potencjalne pola zastosowań. Przedstawiono również wybrane
            cztery układy na bazie których budowane są kubity oraz pokrótce omówiono zasady ich działania.
            <a href="#"> Read full text >>> </a>
        </p>

    </div>

</div>
{% endblock %}