{% extends "base.html" %}

{% block content %}

<div class="container py-5">
    <h1 class="mb-5">Articles</h1>


   <div class="row mt-5">
       <div class="col-4">
        <img  src="/static/art/001/QC-stack-in3D-01.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
       </div>
       <div class="col-8">


        <h2> Wprowadzenie do budowy heterogenicznego komputera kwantowo - klasycznego </h2>

        <span class="badge badge-primary">Quantum</span>
        <span class="badge badge-info">Polish</span>
        <p style="font-style: italic;">
            Artykuł ten dostarcza podstawowych informacji o komputerach kwantowych. Omawiane są podstawy fizyczne na
            który komputer kwantowy działa. Wskazywane są potencjalne pola zastosowań. Przedstawiono również wybrane
            cztery układy na bazie których budowane są kubity oraz pokrótce omówiono zasady ich działania.
            <a href="{{ url_for('main.art_view', md_file='001_wprowadzenie_do_budowy_qc') }}"> Read full text >>> </a>
        </p>
        </div>
    </div>

</div>
{% endblock %}