<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Łukasz Herok</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel='stylesheet' href='//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='neon-glow/css/bootstrap4-neon-glow.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lh.css') }}">

</head>


<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="{{ url_for('main.index') }}" class="btn btn-outline-light btn-outline-brand navbar-brand"
       style="font-style: oblique;">
        ŁH
    </a>


    <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('jrnl.jrnl_list') }}">Jrnls
                    <span class="sr-only">(current)</span>
                </a>
            </li>
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{{ url_for('jrnl.jrnl_list') }}">About#}
{#                </a>#}
{#            </li>#}
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="#!">Link</a>#}
            {#            </li>#}

        </ul>

        {% if g.search_form %}
            <form class="form-inline my-2 my-lg-0" method="get"
                  action="{{ url_for('main.search') }}">
                <div class="form-group">
                    {{ g.search_form.q(size=20, class='form-control',
                            placeholder=g.search_form.q.label.text) }}
                </div>
            </form>
        {% endif %}


        <ul class="navbar-nav mt-2 mt-md-0 ">
            {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">.</a>
                </li>
            {% else %}


                <li class="nav-item ">
                    <a style="color: #a0a0a0" class="nav-link" href="{{ url_for('jrnl.jrnl_ed') }}" class="btn  ">
                        <span class="fa fa-lg fa-pencil"></span>
                    </a>
                </li>


                <li class="nav-item ">
                    <a style="color: #a0a0a0" class="nav-link" href="{{ url_for('auth.logout') }}" class="btn  ">
                        <span class="fa fa-lg fa-sign-out"></span>
                    </a>
                </li>
            {% endif %}

        </ul>

    </div>
</nav>

<div>


</div>
<div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>

{% block content %}
{% endblock %}



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
{{ moment.include_moment() }}

</body>
</html>
