{% extends "base.html" %}

{% block content %}

<div class="container py-5">
    <h1 class="mb-5">Quantum</h1>

    <div class="py-5">
        <h2>IBM Q Backend</h2>
        <p><a href="https://quantumexperience.ng.bluemix.net/">IBM Quantum</a> backends status checked <i>{{
            moment(data['tms']).fromNow() }}.</i></p>
        <div class="row">
            {% for b in data['backends'] %}

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box {{ 'bg-success' if b['operational'] else 'bg-dark'  }}">
                    <span class="info-box-icon"><i class="fa fa-microchip"></i></span>

                    <div class="info-box-content">

                        <span class="info-box-text">{{ b['name'] }}</span>
                        <span class="info-box-number">{{ b['pending_jobs'] }}</span>
                        <span class="description">Pending jobs</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            {% endfor %}
        </div>
    </div>



    <div class="row py-5">
        <div class="col-8">
            <h2>The Building Blocks of a Quantum Computer: Part&nbsp2</h2>
            <p class="py-3">
                This is to certify that
                Łukasz Herok
                successfully completed and received a passing grade in
                QTM3x: The Building Blocks of a Quantum Computer: Part 2
                a course of study offered by DelftX, an online learning initiative of Delft University of Technology.
            </p>
        </div>

        <div class="col-4">
            <a href="https://courses.edx.org/certificates/cf8576cf3aad4598a6bc5016119186b7" target="_blank">
                <img class="figure-img img-fluid rounded" src="{{ url_for('static', filename='quant/qtm3x.png') }}"/>
            </a>
        </div>

    </div>

    <div class="row py-5">
        <div class="col-8">
            <h2>Compressing bit strings in qubits using superposition effect</h2>
            <p class="py-3">
                My new tutorial.
                The aim of this tutorial is to show you how quantum computers can store information encoded in a bit
                string
                using significantly fewer qubits than classical bits. It is possible thanks to
                the superposition effect. I will try to explain it through the example.
                <a href="https://github.com/Qiskit/qiskit-tutorials-community/blob/master/hello_world/bitstring_compression.ipynb">
                    Go to the tutorial >>> </a>
            </p>
        </div>
        <div class="col-4">
            <a href="https://github.com/Qiskit/qiskit-tutorials-community/blob/master/hello_world/bitstring_compression.ipynb"
               target="_blank">

                <img class="figure-img img-fluid rounded"
                 src="{{ url_for('static', filename='art/002/encoding4.png') }}"/>
            </a>
        </div>
    </div>

    <div class="row py-5">
        <div class="col-8">
            <h2>IBM Thomas J. Watson Research Center</h2>
            <p class="py-3">
                Pariticipated in <a href="https://qiskit.camp/"> Qiskit 2019</a> Camp at IBM Thomas J. Watson Research
                Center in Yorktown Heights, NY
                USA.

                During the 24-hour hackathon in the Mountain Top Inn & Resort Killington, VT, we developed
                a <a href="https://github.com/lukasszz/FlappyQ">FlappyQat</a> game for learning quantum gates.
            </p>
        </div>
        <div class="col-4">
            <img class="figure-img img-fluid rounded"
                 src="{{ url_for('static', filename='quant/lh_at_ibm3.jpg') }}"/>
        </div>
    </div>

    <div class="row py-5">
        <div class="col-8">
            <h2>The Building Blocks of a Quantum Computer: Part&nbsp1</h2>
            <p class="py-3">
                This is to certify that
                Łukasz Herok
                successfully completed and received a passing grade in
                QTM2x: The Building Blocks of a Quantum
                Computer: Part 1
                a course of study offered by DelftX, an online learning initiative of Delft University of
                Technology through edX.
            </p>
        </div>
        <div class="col-4">
            <a href="https://courses.edx.org/certificates/56e42ec652c04c4ca99e41a37c53e238" target="_blank">
                <img class="figure-img img-fluid rounded" src="{{ url_for('static', filename='quant/qtm2x2.png') }}"/>
            </a>
        </div>
    </div>

    <div class="row py-5">

        <div class="col-8">

            <h2>Wprowadzenie do budowy komputerów kwantowych</h2>
            <p class="py-3">
                Artykuł ten dostarcza podstawowych informacji o komputerach kwantowych. Omawiane są podstawy fizyczne na
                który komputer kwantowy działa. Wskazywane są potencjalne pola zastosowań. Przedstawiono również wybrane
                cztery układy na bazie których budowane są kubity oraz pokrótce omówiono zasady ich działania.
                <a href="{{ url_for('main.art_view', md_file='001_wprowadzenie_do_budowy_qc') }}" target="_blank"> Read full text
                    >>> </a>
            </p>
        </div>
        <div class="col-4">
            <a href="{{ url_for('main.art_view', md_file='001_wprowadzenie_do_budowy_qc') }}">
                <img style="border-radius: 6px;" src="{{ url_for('static', filename='art/001/QC-stack-in3D-01.png') }}"
                     class="figure-img img-fluid rounded" alt="Quantum computer stack">
            </a>
        </div>

    </div>


    <div class="py-5">
         <h2>Journal of my recent #qc activities</h2>

        <div class="row mt-5">
            {% for jrnl in jrnls %}
                <div  style="" class="col m-2 container lh-col-card border-success">
                    <div class="card-body">
                        <p style="min-width: 150px;">{{ jrnl.body | markdown }}</p>
                        <footer class="font-italic" style="text-align: right">{{ moment(jrnl.timestamp).fromNow() }}
                        {% if not current_user.is_anonymous %}
                            <a href="{{ url_for('jrnl.jrnl_ed', id=jrnl.id) }}">.</a>
                        {% endif %}
                        </footer>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}