{% extends "base.html" %}

{% block title %}Quantum Computing - SSZZ{% endblock %}

{% block content %}

<div class="container py-5">
    <h1 class="mb-5">Quantum</h1>

    <!-- Latest Posts Section -->
    {% if latest_posts %}
    <div class="py-5">
        <h2>Latest Posts</h2>
        <div class="row">
            {% for post in latest_posts %}
            <div class="col-md-4 mb-4">
                <article class="post-item-horizontal">
                    <div class="post-content-wrapper-horizontal">
                        {% if post.header_image %}
                        <a href="{{ url_for('post.default_with_slug', id=post.id, slug=post.slug) }}" class="post-image-horizontal">
                            <img src="{{ url_for('static', filename=post.header_image) }}" 
                                 alt="{{ post.title }}">
                        </a>
                        {% else %}
                        <a href="{{ url_for('post.default_with_slug', id=post.id, slug=post.slug) }}" class="post-image-placeholder-horizontal">
                            📄
                        </a>
                        {% endif %}
                        
                        <div class="post-content-horizontal">
                            <h3>
                                <a href="{{ url_for('post.default_with_slug', id=post.id, slug=post.slug) }}" 
                                   class="post-title-horizontal">{{ post.title }}</a>
                            </h3>
                            
                            <div class="post-meta-row-horizontal">
                                <div class="post-meta-horizontal">{{ moment(post.timestamp).format('MMMM D, YYYY') }}</div>
                                <div class="post-category-horizontal {{ post.category }}">{{ post.category }}</div>
                            </div>
                            
                            <div class="post-excerpt-horizontal">{{ post.excerpt[:100] }}{% if post.excerpt|length > 100 %}...{% endif %}</div>
                        </div>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
        <div class="text-center mt-3">
            <a href="{{ url_for('post.post_list') }}" class="view-all-posts">View all posts >>></a>
        </div>
    </div>
    {% endif %}

    <div class="py-5">
        <h2>IBM Q Backend</h2>
        <p><a href="https://quantumexperience.ng.bluemix.net/">IBM Quantum</a> backends status checked <i>{{
            moment(data['tms']).fromNow() }}.</i></p>
        <div class="row">
            {% for b in data['backends'] %}

            <div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                <div class="info-box {{ 'bg-success' if b['operational'] else 'bg-dark'  }}">
                    <span class="info-box-icon">{{ b['qubits'] }}<i class="fa fa-microchip"></i></span>

                    <div class="info-box-content">

                        <span class="info-box-text"><b>{{ b['name'] }}</b></span>
                        <span class="info-box-text"><b>{{ b['pending_jobs'] }}</b> pending jobs</span>

                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row py-5">
        <div class="col-md-8">
            <h2>Constructing quantum gates as matrices for a multi-qubit quantum systems</h2>
            <p class="py-3">
                act directly on a single qubits. The question is how to extend the matrices to act on mulitqubit system
                that is represented by the column vector. This article gives short introduction into qubits and quantum
                gates, then it shows on the examples how to extends one and two qubit gates for multi qubit system using
                the matrix algebra.
                <a href="{{ url_for('main.art_view', md_file='004_mgates') }}"> Read full text
                    >>> </a>
            </p>
            <div class="font-italic" style="text-align: right">2019-11-09</div>
        </div>

        <div class="col-md-4">
            <a href="{{ url_for('main.art_view', md_file='003_grover') }}">
                <img src="{{ url_for('static', filename='art/004/mgates.png') }}"
                     class="figure-img img-fluid rounded" alt="">
            </a></div>

    </div>

    <div class="row py-5">
        <div class="col-md-8">
            <h2>Grover algorithm explained with matrices calculus</h2>
            <p class="py-3">
                This article goes through "Qiskit Textbook Grover's algorithm" explaining it in more details,
                showing how to apply quantum Gates as the matrix calculus.
                Grover's algorithm is being described as a searching algorithm for the unstructured database.
                However, this example shows, how to perform the Groover's algorithm, to make a quantum system to reveal
                the marked states.
                <a href="{{ url_for('main.art_view', md_file='003_grover') }}"> Read full text
                    >>> </a>
            </p>
            <div class="font-italic" style="text-align: right">2019-11-09</div>
        </div>

        <div class="col-md-4">
            <a href="{{ url_for('main.art_view', md_file='003_grover') }}">
                <img src="{{ url_for('static', filename='art/003/qc.png') }}"
                     class="figure-img img-fluid rounded" alt="">
            </a></div>

    </div>

    <div class="row py-5">
        <div class="col-md-8">
            <h2>Presentation "Storing bitstrings in qubits"</h2>
            <p class="py-3">
                On the 14th of September, I gave a speech at <a href="https://bbdays4.it/">BBdays4 IT</a>
                the IT conference for developers. During the presentation
                I was explaining the principles of how quantum computers work. Differences between bits and qubits. How
                quantum algorithms are implemented. After the theoretical introduction, I was showing real examples of
                how to effectively store bitstrings in qubits. Finally, I gave tips on how to start your quantum
                adventure in the place you live in.

            </p>
            <div class="font-italic" style="text-align: right">2019-09-14</div>
        </div>

        <div class="col-md-4">
            <a href="https://courses.edx.org/certificates/cf8576cf3aad4598a6bc5016119186b7" target="_blank">
                <img class="figure-img img-fluid rounded"
                     src="{{ url_for('static', filename='quant/bbdays4it.png') }}"/>
            </a>
        </div>

    </div>


    <div class="row py-5">
        <div class="col-md-8">
            <h2>The Building Blocks of a Quantum Computer: Part&nbsp2</h2>
            <p class="py-3">
                This is to certify that
                Łukasz Herok
                successfully completed and received a passing grade in
                QTM3x: The Building Blocks of a Quantum Computer: Part 2
                a course of study offered by DelftX, an online learning initiative of Delft University of Technology.
            </p>
            <div class="font-italic" style="text-align: right">2019-08-31</div>
        </div>

        <div class="col-md-4">
            <a href="https://courses.edx.org/certificates/cf8576cf3aad4598a6bc5016119186b7" target="_blank">
                <img class="figure-img img-fluid rounded" src="{{ url_for('static', filename='quant/qtm3x.png') }}"/>
            </a>
        </div>
    </div>

    <div class="row py-5">
        <div class="col-md-8">
            <h2>Doctoral dissertation</h2>
            <p class="py-3">
                The main goal of the doctoral thesis was to examine in detail the thermodynamic properties
                of the superconducting state inducing in the selected compounds of the antiperovskite structure in
                the framework of the classical Eliashberg equations formalism. The secondary goal related to the
                conducted research was to initiate work on a new software, aimed at enabling future calculations
                basing on a generalized Eliashberg equations formalism, and omitting the need to determine the
                phenomenological μ* parameter.

                <a href="http://www.ujd.edu.pl/news/view/uroczyste-wreczenie-dyplomow-doktora-habilitowanego-i-doktora-w-uniwersytecie"
                   target="_blank">Ceremonial presentation of doctoral diplomas at the University doctoral
                    dissertation</a>
            </p>
            <div class="font-italic" style="text-align: right">2019-07-11</div>
        </div>

        <div class="col-md-4">
            <a href="https://courses.edx.org/certificates/cf8576cf3aad4598a6bc5016119186b7" target="_blank">
                <img class="figure-img img-fluid rounded" src="{{ url_for('static', filename='quant/phd.png') }}"/>
            </a>
        </div>
    </div>


    <div class="row py-5">
        <div class="col-md-8">
            <h2>Compressing bit strings in qubits using superposition effect</h2>
            <p class="py-3">
                My new tutorial.
                The aim of this tutorial is to show you how quantum computers can store information encoded in a bit
                string
                using significantly fewer qubits than classical bits. It is possible thanks to
                the superposition effect. I will try to explain it through the example.
                <a href="{{ url_for('main.art_view', md_file='002_bitstring_compression') }}"> Read full text
                    >>> </a>
            </p>
            <div class="font-italic" style="text-align: right">2019-04-03</div>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('main.art_view', md_file='002_bitstring_compression') }}"
               target="_blank">

                <img class="figure-img img-fluid rounded"
                     src="{{ url_for('static', filename='art/002/encoding4.png') }}"/>
            </a>
        </div>
    </div>

    <div class="row py-5">
        <div class="col-md-8">
            <h2>IBM Thomas J. Watson Research Center</h2>
            <p class="py-3">
                Pariticipated in <a href="https://qiskit.camp/"> Qiskit 2019</a> Camp at IBM Thomas J. Watson Research
                Center in Yorktown Heights, NY
                USA.

                During the 24-hour hackathon in the Mountain Top Inn & Resort Killington, VT, we developed
                a <a href="https://github.com/lukasszz/FlappyQ">FlappyQat</a> game for learning quantum gates.
            </p>
            <div class="font-italic" style="text-align: right">2019-02-26</div>
        </div>
        <div class="col-md-4">
            <img class="figure-img img-fluid rounded"
                 src="{{ url_for('static', filename='quant/lh_at_ibm3.jpg') }}"/>
        </div>
    </div>

    <div class="row py-5">
        <div class="col-md-8">
            <h2>The Building Blocks of a Quantum Computer: Part&nbsp1</h2>
            <p class="py-3">
                This is to certify that
                Łukasz Herok
                successfully completed and received a passing grade in
                QTM2x: The Building Blocks of a Quantum
                Computer: Part 1
                a course of study offered by DelftX, an online learning initiative of Delft University of
                Technology through edX.
            </p>
            <div class="font-italic" style="text-align: right">2018-10-26</div>
        </div>
        <div class="col-md-4">
            <a href="https://courses.edx.org/certificates/56e42ec652c04c4ca99e41a37c53e238" target="_blank">
                <img class="figure-img img-fluid rounded" src="{{ url_for('static', filename='quant/qtm2x2.png') }}"/>
            </a>
        </div>
    </div>

    <div class="row py-5">
        <div class="col-md-8">
            <h2>Wprowadzenie do budowy komputerów kwantowych</h2>
            <p class="py-3">
                Artykuł ten dostarcza podstawowych informacji o komputerach kwantowych. Omawiane są podstawy fizyczne na
                który komputer kwantowy działa. Wskazywane są potencjalne pola zastosowań. Przedstawiono również wybrane
                cztery układy na bazie których budowane są kubity oraz pokrótce omówiono zasady ich działania.
                <a href="{{ url_for('main.art_view', md_file='001_wprowadzenie_do_budowy_qc') }}" target="_blank"> Read
                    full text
                    >>> </a>
            <div class="font-italic" style="text-align: right">2018-08-31</div>
            </p>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('main.art_view', md_file='001_wprowadzenie_do_budowy_qc') }}">
                <img style="border-radius: 6px;" src="{{ url_for('static', filename='art/001/QC-stack-in3D-01.png') }}"
                     class="figure-img img-fluid rounded" alt="Quantum computer stack">
            </a>
        </div>
    </div>

    <div class="row py-5">
        <div class="col-md-8">

            <h2>Transformation of Hubbard Hamiltonian into the Matrix and its Diagonalization</h2>
            <p class="py-3">
                In order to perform larger scale physics research in the area of superconductivity, we have developed an
                application that can transform the Hubbard Hamiltonian into a matrix and diagonalize it to find the
                selected model’s energy spectrum. For that purpose we have used the Python language and its wide
                ecosystem. This paper proves that selected tools are capable of creating scientific applications in a
                general sense. After a short introduction into the physics problem and the designed algorithm we will
                present the computer science problems and their solutions in creating usual scientific programs, in
                particular: performance and parallelization issues, storage of input data and the results, bottlenecks
                detections, as well as optimization and testing. The most interesting examples of the developing cycle
                will be described to give a prepared solution for implementing the other scientific software.

                <a href="http://cmst.eu/articles/developing-of-scientific-software-applications-in-python-i-transformation-of-hubbard-hamiltonian-into-the-matrix-and-its-diagonalization/"
                   target="_blank"> Read
                    Volume 21 (4) 2015, 181-189 </a>
            <div class="font-italic" style="text-align: right">2015-12-06</div>
            </p>
        </div>
        <div class="col-md-4" style=" text-align: center;">
            <img style="border-radius: 6px;" src="{{ url_for('static', filename='quant/cmst.png') }}"
                 class="figure-img img-fluid rounded"
                 alt="Transformation of Hubbard Hamiltonian into the Matrix and its Diagonalization">

        </div>

    </div>


    <div class="py-5">
        <h2>Journal of my recent #qc activities</h2>

        <div class="row mt-5">
            {% for jrnl in jrnls %}
            <div style="" class="col m-2 container lh-col-card border-success">
                <div class="card-body">
                    <p style="min-width: 150px;">{{ jrnl.body | markdown }}</p>
                    <footer class="font-italic" style="text-align: right">{{ moment(jrnl.timestamp).fromNow() }}
                        {% if not current_user.is_anonymous %}
                        <a href="{{ url_for('jrnl.jrnl_ed', id=jrnl.id) }}">.</a>
                        {% endif %}
                    </footer>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}