{% extends "base.html" %}

{% block content %}
    <div class="container py-5">
        <h2>Jrnl</h2>
        <div class="row">
                {% for jrnl in jrnls %}

                    <div class="card m-2 text-center border-success", style="max-width: 30%">
                        <div class="card-body">
                            <blockquote class="card-blockquote">
                                <p>{{ jrnl.body }}</p>
                                <footer class="font-italic">{{ jrnl.timestamp }}
                                </footer>
                            </blockquote>
                        </div>
                    </div>

                {% endfor %}
        </div>
    </div>

    {% if prev_url %}
        <a href="{{ prev_url }}">Prev</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">Next</a>
    {% endif %}
{% endblock %}