{% extends "base.html" %}

{% block content %}
    <div class="container py-5">
        <h1>Sign In</h1>
        <div class="col-xl-8 card">
            <div class="card-body">
                <form action="" method="post" novalidate>
                    <div class="form-group">
                        {{ form.hidden_tag() }}

                        <label for="{{ form.username.id }}">{{ form.username.label }}</label>
                        {{ form.username(size=32, class="form-control") }}
                        {% for error in form.username.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}

                        <label for="{{ form.password.id }}">{{ form.password.label }}</label>
                        {{ form.password(size=32, class="form-control") }}
                        {% for error in form.password.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}

                        <div class="custom-control custom-checkbox">
                            {{ form.remember_me(class="custom-control-input") }}
                            <label class="custom-control-label"
                                   for="{{ form.remember_me.id }}">{{ form.remember_me.label }}</label>
                        </div>
                    </div>
                    {{ form.submit(class="form-control btn btn-success") }}

                </form>
            </div>
        </div>
    </div>
{% endblock %}

