{% extends "base.html" %}

{% block content %}

<div class="container py-5">
    <h1 class="">Software development</h1>

    <div class="py-5">
        {% for post in posts %}
        <li style="display: flex;">
            <span style='min-width: 100px;'>{{ moment(post.timestamp).format("DD MMM YY") }}</span>
            <span><a href="{{ url_for('post.default_with_slug', id=post.id, slug=post.slug) }}">{{ post.title }}</a>
            </span>
        </li>
        {% endfor %}
    </div>

    <div class="py-5">
        <div class="row">
            {% for jrnl in jrnls %}
            <div style="" class="col m-2 container lh-col-card border-success">
                <div class="card-body">
                    <p style="min-width: 150px;">{{ jrnl.body | markdown }}</p>
                    <footer class="font-italic" style="text-align: right">{{ moment(jrnl.timestamp).fromNow() }}
                        {% if not current_user.is_anonymous %}
                        <a href="{{ url_for('jrnl.jrnl_ed', id=jrnl.id) }}">.</a>
                        {% endif %}
                    </footer>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}